header {
    position: relative !important;
}

#uploadPhoto {
    display: block !important;
}
#register-form .email-enter label input {
    width: 100%;
}

#uploadPhoto .errorMessage{
    padding-left: 20px;
}

.carousel-caption p{
    width: 200px;
}
.modal-registration .errorMessage {
    border-top: 5px solid #f0efef;
}
.gray-block.about-us .btn-blue {
    display: none;
}
#mainSlider .carousel-desc p {
    padding: 0 !important;
}

#uploadPhoto {

}

.btn.qq-upload-button{
    position: absolute !important;
    top: 33px;
}
#uploadPhoto .btn.qq-upload-button{
    width: 170px;
    height: 42px;
    font-size: 20px;
    float: left;
    margin-left: 20px;
    border: 1px solid #D1D0D0;
    color: #888888;
    font-weight: bold;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(240,239,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,239,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,239,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,239,239,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(240,239,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0efef',GradientType=0 ); /* IE6-9 */
}
.qq-upload-list {
    float: none;
    clear:both;
    width: 265px;
    padding-top: 20px !important;
}

#uploadPhoto .btn.qq-upload-button:after,
.qq-upload-success:after {
    content:'';
    display:block;
    clear: both;
}
.participant-website {
    margin-top: 5px;
    margin-right: 5px;
    padding-top: 35px;
    padding-bottom: 8px;
    display: block;
}