.row {
    margin-left: 0;
}

.copyright {
    margin-top: 10px;
    border-top: solid 1px #aaa;
    padding: 5px;
    text-align: center;
}

.tree .active {
    font-weight: bold;
}

.pages-content input[type=text],
.pages-content textarea {
    width: 90%;
}

.navbar .navbar-inner {
    background: #438eb9;
}